<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PathML Electron App</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });
    window.electron.ipcRenderer.on('video', (arg) => {
      if (arg) document.querySelector("video").src = 'file://'+arg
    })

    window.electron.ipcRenderer.on('modal', (arg) => {
      if (arg === 'true') {
        document.getElementById("modal").style.display = "block"
        document.getElementById("home").style.display = "none"
      }
      if (arg === 'false') {
        document.getElementById("modal").style.display = "none"
        document.getElementById("home").style.display = "block"
      }
    })



    window.electron.ipcRenderer.myPing();
  </script>
</html>
